<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/ico" href="{{ STATIC_URL }}images/favicon.ico"/>
    <title>EIC: Ghana</title>

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/foundation.css" rel="stylesheet" type="text/css">

    <!-- Le scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}src/form.js"></script>
    <script>
        $(document).ready(
            function () {
                bind_all();
            }
        );
    </script>
</head>
<body>

    <!-- Header and Nav -->
    <div class="row">
        <div class="large-2 columns">
            <ul class="button-group left">
                <li>
                    <a href="/home"><img src="{{ STATIC_URL }}images/logo.png" style="height: 90px"></a>
                </li>
                <li>
                    <a href="/home/gh/"><img src="{{ STATIC_URL }}images/ghana-flag-map.png" style="height: 90px"></a>
                </li>
            </ul>
        </div>
        <div class="large-9 columns">
            <ul class="button-group right">
                <li>
                    <a href="/home" class="button selected">Home</a>
                </li>
                <li>
                    <a href="/about/" class="button">About</a>
                </li>
                <li>
                    <a href="/apply/" class="button">Apply</a>
                </li>
                <li>
                    <a href="/contact/" class="button">Contact Us</a>
                </li>
                <li>
                    <a href="#" id="login_menu" class="button">Login</a>
                </li>
            </ul>
        </div>
    </div><!-- End Header and Nav -->

    <!-- Content -->\
    <div class="row">
        <div class="large-12 columns" style="position: relative">
            <h1>Ghana</h1>
            <div style="text-align:center; margin-left:auto; margin-right:auto;">
				<div id="login_form" class="form hide" style="right:10px; margin-top: -20px; z-index:2; margin-bottom: 100px; position: absolute; opacity: 0.9">
					<div>
						<input class="required" placeholder="Email (required)" type="text">
					</div>
					<div>
						<input class="required" placeholder="Password (required)" type="password">
					</div>
					<div>
						<input class="button" type="submit" value="LOGIN" style="height: 30px; padding: 5px">
					</div>
				</div>

            </div>
        </div>
    </div><!-- End Content -->

    <!-- Footer -->
    {% include "footer.html" %}<!-- End Footer -->

    <script type="text/javascript">
        $('login_menu').click(function(e){
            $('login_form').show();
        });
    </script>
</body>
</html>